* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* banner part start*/
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url("./images/banner/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero1 {
    height: 20vh;
    width: 25%;
}

.hero2 {
    width: 30%;
    text-align: end;
}

.hero2 span {
    display: flex;
    flex-direction: column;

}

.hero2 h1 {
    font-size: 65px;
    font-weight: bolder;
}

.hero2 p {
    font-size: 20px;
    margin: 20px 0;
    font-weight: 300;
    line-height: 30px;
}

.contactBtn{
    background-color: #f15b22;
    color: white;
    padding: 17px 20px;
    border: 0;
    margin-top: 15px;
    font-size: 25px;
    border-radius: 6px;
    cursor: pointer;
}
 /* banner part end */



 /* person part start */
.person {
    display: flex;
    width: 78%;
    margin: 0 5%;
    align-items: center;
    margin-top: 150px;
   

    

}

.personLeft{
    margin: 0 auto;
    

}

.personRight {
margin: 0 auto;


}

.greenTik {
    color: #16d887;
    font-weight: bolder;
    line-height: 35px;
    margin-right: 9px;
}

.personTitle {
    font-size: 45px;

}

.personRight {
    letter-spacing: 1px;
    margin: 25px 0;
    line-height: 30px;
    font-weight: 300;
    font-size: 17px;
    
}

.personRight h1{
    line-height: 50px;
}
.personRightDescription {
    letter-spacing: 1px;
    margin: 25px 0;
    line-height: 30px;
    font-weight: 300;
    font-size: 17px;
}


.list {
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 17px;
}

/* person part end */



/* all plans start */
.plans {
    text-align: center;
    margin-top: 120px;

}

.allPlans {
    display: flex;
    margin: 0 auto;
    width: 85%;
    justify-content: space-evenly;
    margin-top: 60px;
}

.eachPlanTitle {
    margin: 20px 0;
    font-size: 35px;

}

.planSubTitle {
    font-weight: 500;
    color: #979696;
    letter-spacing: 1px;
}

.planTitle {
    font-size: 50px;

}

/* all plans part end */



/* Roadmap of Dev part start */
.women {
    display: flex;
    width: 78%;
    margin: 0 auto;
    align-items: center;
    margin-top: 150px;
    padding: 50px 0;
}

.womenleftTitle {
    font-size: 45px;

}
.womenLeft {
    margin: 0 auto;


}
.women img{
    padding: 30px;
}

.womenRight{
    margin: 0 auto;
    background-size: 520px;
    background-image: url("./images/orangebg.png");
    background-repeat: no-repeat;
}


.womenRightDescription {
    letter-spacing: 1px;
    margin: 25px 0;
    line-height: 30px;
    font-weight: 300;
    font-size: 17px;
}

.learnMore {
    background-color: #f15b22;
    color: white;
    padding: 17px 20px;
    border: 0;
    margin-top: 15px;
    font-size: 25px;
    border-radius: 6px;
    cursor: pointer;
}
/* roadmap of dev part end */



/* call now section start */
.positiveMindSet {
    background-image: url("./images/watch.png"), linear-gradient(90deg, #f05a22 0%, rgba(241, 93, 34, 0) 100%);
    ;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10% 13%;
    border-radius: 8px;
    height: 30%;
    background-blend-mode: overlay;



}

.callNowSection {
    padding: 6% 4%;
}

.positiveMindSetTitle {
    font-size: 40px;
    font-weight: 700;
    color: white;

}

.callNow {
    background-color: white;
    color: #f15b22;
    padding: 15px 25px;
    border: 0;
    margin-top: 15px;
    font-size: 25px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

/* call now section end */



/* footer part start */
.footerContent {
    color: white;
    height: 30vh;
    display: flex;
    justify-content: space-between;
      padding-top: 9%;
    padding-bottom: 13%;
    padding-right: 13%;
    padding-left: 13%;
}
.footer{
    background-color: #151414;

}



.footerTitle{
    font-size: 45px;
    margin: 20px 0;
}

.footerDes, .email, .phone{
    letter-spacing: 1px;
    line-height: 25px;
    margin: 20px 0;
}

.social img{
    margin-top: 40px;
    margin-right: 15px;
}


.subsTitle{
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 600;
}
.emailInput{
    width: 100%;
    color: white;
    background-color:#151414;
    border: 1px solid white;
    border-radius: 7px;
    height: 60px;
    padding: 2px;
}
.submitButton{
    background-color: white;
    color: #f26631;
    padding: 15px 25px;
    border: 0;
    margin-top: 15px;
    font-size: 25px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
}

.emailInput::placeholder{
 font-size: 18px;
 padding: 20px;
    color: white;
}

.subsTitle{
    margin: 20px 0;
}

/* footer part end */